<section>
  <p>Make A Blog With Html</p>
</section>
<textarea readonly>
Use the textarea command.
</textarea>
<body>
<textarea id="html" placeholder="HTML (if reaload destroys code)"></textarea>
<textarea id="css" placeholder="CSS"></textarea>
<textarea id="js" placeholder="JavaScript(does not support canvas)"></textarea>
<iframe id="code"></iframe>

<script type="text/javascript" src="app.js"></script>
</body>
</html>
<style>
body {
text-align: center;
}

textarea {
background-color: darkblue;
width: 100%;
float: left;
height: 170px;
length: 290px;
overflow: scroll;
margin: auto;
display: inline-block;
outline: none;
font-family: Courier, sans-serif;
font-size: 11px;
color: beige;
}

iframe {
bottom: 0;
position: relative;
width: 100%;
height: 35em;
}
</style>
<script>
function compile() {
var html = document.getElementById("html");
var css = document.getElementById("css");
var js = document.getElementById("js");
var code = document.getElementById("code").contentWindow.document;

document.body.onkeyup = function() {
code.open();
code.writeln(
  html.value +
    "<style>" +
    css.value +
    "</style>" +
    "<script>" +
    js.value + 
    "<//script>"
);
code.close();
};
}

compile();
</script>