<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <script src="sketch.js"></script>
  </body>
</html>

<script>
LogoDesignWidget []: = 
 Manipulate[
  Graphics[
   Rotate[
    Table[Rotate[
      {
       If[EvenQ[i], Black, White],
       Disk[{0, If[EvenQ[i], 0, Rescale[i, {0, n}, (d/n) {1, -1}]]}, 
        Rescale[i, {0, n}, {1, r}]]
       },
      2 \[Pi] tw (i/n), {0, 0}
      ], {i, 0, n}],
    or, {0, 0}
    ], PlotRange -> 1.5, ImageSize -> 400],
  {{n, 31, "resolution"}, 1, 51},
  {{d, 1, "displacement"}, -10, 10},
  {{r, 0, "radius"}, 0, 1},
  {{tw, 0, "twist"}, 0, 10},
  {{or, 0, "orientation"}, -\[Pi], \[Pi]}
  ]
</script>